.inscription {
    padding: 5% 25vw;
    background-image: url('../images/back-photo-inscription.jpg');
}

h2 {
    color: black;
}

.form-group {
    color: black;
}

.btn-primary {
    margin-top: 5%;
}

